.expertise-container {
  position: relative;
  padding: 2rem;
}

.expertise-title {
  margin-top: 50px;
  margin-left: 100px;
}

.icons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  margin: 4em 10em 0em 10em;
}

.icon-wrapper {
  transition: transform 0.3s ease;
}

.tech-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

// Aumenta o ícone ao passar o mouse
.icon-wrapper:hover .tech-icon {
  transform: scale(4.3);
}

// Reduz o tamanho dos ícones não selecionados, mas sem escurecer
.icons-grid:hover .icon-wrapper:not(:hover) {
  transform: scale(0.8); // Reduz os ícones ao redor para 0.8x sem escurecer
}
